{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{{url_for('methods.addHobby')}}" class="flex flex-col p-[40px] items-center gap-[10px] rounded-lg bg-white w-fit">
    <div class="flex flex-row gap-[10px] items-center">
    <label class="text-white font-mono font-bold w-fit">Hobby Name:</label>
    <select id="typeoptions" name="hobbyname" class="rounded-lg bg-black text-white font-bold font-mono p-[10px]">
        <option selected disabled hidden></option>
        {% for i in hobbies %}
            <option>{{i}}</option>
        {% endfor %}
    </select>
    </div>

    <input type="submit" class="flex flex-col items-center justify-center p-[10px] font-bold bg-green-500 text-white rounded-lg w-fit" value="add"/>
</form>


{% endblock %}
