{% extends 'base.html' %}

{% block content %}

{% if length==0 %}
<div class="flex flex-col justify-center items-center bg-black  h-[100vh] w-[100vw]  gap-[10px] " id="FULLCONTENT">
    <div class="flex flex-col items-center gap-[10px]">
        <h1 class="text-red-500 font-bold text-5xl font-mono">No Hobbies have Progress Check Enabled</h1>
        <p class="font-bold text-lg font-mono text-white">Click <a href="{{url_for('views.setProgressCheck')}}" class="animate-pulse text-red-500" >here</a> to set a new progress check on a hobby</p>
    </div>
</div>
{% else %}
<div class="flex flex-col justify-start bg-black  h-[100vh] w-[100vw]  gap-[10px] " id="FULLCONTENT">

        {% for i in hobbies %}
            {% if i['PROGRESS']>=0.0 and i['HOBBYCOMPLETED']!='COMPLETED' %}
                    <div class="bg-red-500 rounded-lg p-[40px] flex flex-col items-center w-fit mt-[5px]">
                        <h1 class="text-white font-bold text-5xl font-mono">{{i['hobbyname']}}</h1>
                        <button id="{{i['hobbyname']}}" class=" UpdateProgressBtn font-bold text-lg font-mono text-white">{{i['PROGRESS']}}</button>
                    </div>
            {% elif i['HOBBYCOMPLETED']=='COMPLETED' %}
                <div class="bg-green-500 rounded-lg p-[40px] flex flex-col items-center w-fit mt-[5px]">
                    <h1 class="text-white font-bold text-5xl font-mono">{{i['hobbyname']}}</h1>
                    <button id="{{i['hobbyname']}}" class=" UpdateProgressBtn font-bold text-lg font-mono text-white">{{i['progress']}}</button>
                </div>

            {% endif %}

        {% endfor %}
</div>
{% endif %}


<script>
    let updateProgressButtons = document.getElementsByClassName('UpdateProgressBtn');
    let contentdiv = document.getElementById('FULLCONTENT');


    for(const i of updateProgressButtons){
            i.addEventListener('click', async (event)=>{
                 let targethobby = event.target.id;
                let milestones_completed= []
                const updateMilestones = async ()=>{
                    milestones_completed = milestones_completed.map((item)=>{
                        return item.replace('MILESTONE','');
                    });
                    let bodyObj = {}
                    bodyObj.milestones = milestones_completed;
                    bodyObj.targethobby = targethobby
                    let res = await fetch('{{url_for('methods.updatemilestoneprogress')}}',{
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify(bodyObj)
                    })

                    let data = await res.json();

                    if(data.statuscode==200){
                        alert('Updated Progress Successfully');
                    }
                    else{
                        alert('Some Problem');
                    }
                    location.reload();
                }
                let div = document.createElement('div');

                div.classList.add('flex','flex-col','items-center','gap-[10px]','bg-white','p-[50px]','rounded-lg','w-[80vw]','h-[50vh]');

                let title = document.createElement('h1');
                title.classList.add('font-lg','font-mono','text-black');
                title.innerText= `Update Progress for ${targethobby}`;


                let obj = {}
                obj.hobbyname = targethobby
                let res = await fetch(`{{url_for('methods.getmilestones')}}`,{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(obj)
                });

                let data = await res.json()

                if(data.milestones=='NotFound'){
                        let nonefound = document.createElement('h1');
                        nonefound.classList.add('font-mono','font-bold','text-green-500', 'text-lg');
                        nonefound.innerText = 'Hooray No Milestone Lefttttttt';
                        div.appendChild(nonefound);

                }
                else{


                let milestones = Array.from(data.milestones);

                let divofrows = document.createElement('div');
                divofrows.classList.add('flex','flex-row','gap-[10px]','w-fit');

                for(const i of milestones){
                        console.log(i);
                        let index = milestones.indexOf(i);
                        let temp = document.createElement('div');
                        temp.id =   `MILESTONE${index+1}`;
                        temp.classList.add('rounded-lg',`bg-stone-${400+index*100}`,'p-[10px]','hover:cursor-pointer');
                        temp.innerText = i;
                        divofrows.appendChild(temp);
                        temp.addEventListener('click',()=>{
                            if(milestones_completed.length>=1){
                                alert('You can push a max of 1 milestone at a time');
                                return;
                            }
                            else{
                                    temp.classList.add('opacity-[0.5]');
                                    milestones_completed.push(temp.id);
                            }

                        });
                }

                div.appendChild(title);
                div.appendChild(divofrows);

                let complete_progress_update_button= document.createElement('button');
                complete_progress_update_button.classList.add('btnclass');
                complete_progress_update_button.innerText = `Update Progress`;
                complete_progress_update_button.addEventListener('click',()=>{
                    updateMilestones();
                })
                div.appendChild(complete_progress_update_button);
            }
                contentdiv.innerHTML = '';
                contentdiv.appendChild(div);

            })
    }
</script>

{% endblock %}