{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col justify-center items-center bg-black  h-[100vh] w-[100vw]  gap-[10px] " id="FULLCONTENT">
    {% if length==0 %}
    <div class="flex flex-col items-center gap-[10px]">
        <h1 class="text-red-500 font-bold text-5xl font-mono">No Hobbies have Progress Check Enabled</h1>
        <p class="font-bold text-lg font-mono text-white">Click <a href="{{url_for('views.setProgressCheck')}}" class="animate-pulse text-red-500" >here</a> to set a new progress check on a hobby</p>
    </div>
    {% else %}
        <div class="flex flex-col items-center gap-[10px]">
        {% for i in hobbies %}
            {% if i['progress']>=0.0 %}
                        <h1 class="text-red-500 font-bold text-5xl font-mono">{{i['hobbyname']}}</h1>
                        <button id="{{i['hobbyname']}}"class=" UpdateProgressBtn font-bold text-lg font-mono text-white">{{i['progress']}}</button>

            {% endif %}

            {% endfor %}
            </div>
    {% endif %}
</div>

<script>
    let updateProgressButtons = document.getElementsByClassName('UpdateProgressBtn');
    let contentdiv = document.getElementById('FULLCONTENT');
    for(const i of updateProgressButtons){
            i.addEventListener('click', async (event)=>{
                let div = document.createElement('div');
                let targethobby = event.target.id;
                div.classList.add('flex','flex-col','items-center','gap-[10px]','bg-white','p-[50px]','rounded-lg','w-[80vw]','h-[50vh]');

                let title = document.createElement('h1');
                title.classList.add('font-lg','font-mono','text-black');
                title.innerText= `Update Progress for ${targethobby}`;

                let obj = {}
                obj.hobbyname = targethobby
                let res = await fetch(`{{url_for('methods.getmilestones')}}`,{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(obj)
                });

                let data = await res.json()

                let milestones = Array.from(data.milestones);

                let divofrows = document.createElement('div');
                divofrows.classList.add('flex','flex-row','gap-[10px]','w-fit');

                for(const i of milestones){
                        let index = milestones.indexOf(i);
                        let temp = document.createElement('div');
                        temp.classList.add('rounded-lg',`bg-stone-[${300+index*100}]`);
                        temp.innerText = milestone;
                        divofrows.appendChild(temp);
                }

                div.appendChild(title);
                div.appendChild(divofrows);
                contentdiv.innerHTML = '';
                contentdiv.appendChild(div);

            })
    }
</script>

{% endblock %}